{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}





 <div class="card">
        <div class="card-image">
          <img src="{% static 'img/moscow1.png' %}" height="700" width="1200">
          <span class="card-title">Moscow</span>
        </div>
        <div class="card-content">
          <p>Moscow is the capital and most popular city of Russia.
In this city we will visit the Red Square, Hermitage Museum, Bolshoi Theatre and others.
We also will eat Pelmeni and Shashlyk.</p>
            <div class="card-action">
          <a href="#">Click here for buy this tour </a>

</div>
        </div>


</head>
<body>
</body>
</html>
</div>
{% endblock content %}