{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}



      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/nuremberg1.png' %}" height="700" width="1200">
          <span class="card-title">Nuremberg</span>
        </div>
        <div class="card-content">
          <p>Nuremberg is the second-largest city of the German federal state of Bavaria after the capital Munich.</p>
            <div class="card-action">
          <a href="#">Click here for buy this tour </a>


        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}