{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
        <article class="media content-section">
             <img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}" width="110" height="120">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:" H:i. d F, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object..title }}</h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>
</div>


<a class="waves-effect waves-light btn"><i class="material-icons dp48 right">add</i>Add new Feedback </a>
{% endblock %}